h1,h2,h3,h4,h5,h6{
    font-family: 'Sarabun', sans-serif;
}

.span{
    font-family: 'Sarabun', sans-serif;
}
.collapse-item{
    font-family: 'Sarabun', sans-serif;
}
.col-form-label{
    font-family: 'Sarabun', sans-serif;
}
.btn-primary{
    font-family: 'Sarabun', sans-serif;
}
